@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body {
  @apply leading-[normal] m-0;
};

*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    color: inherit;

};

*,
::before,
::after {
  border-width: 0;
};

/* Auth error styling starts */
.error-message {
    color: rgb(208, 53, 53);
    font-size: 8px;
    font-weight: 400;
    font-family: monospace;
    opacity: 0.7;
}

/* Auth error styling ends */

/* verify email styling start */

.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

/* verify email styling start */
